body {
  font-family: 'Muli', sans-serif;
  background: var(--bg-color);
  overflow-x: hidden;
}

.message-send-tab {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background: var(--message-tab-bg-color);
  padding-top: 10px;
  width: 100%;
  box-shadow: 0px -1px 8px var(--box-shadow-color);
}

.ui.input {
  width: 90vw;
  border: 0;
  border-radius: 20px;
  padding: 9px;
  margin: 0 20px 10px 20px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}
section {
  width: 99vw;
  margin: 50px auto;
}

section div {
  max-width: 99vw;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
  padding: 20px;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: var(--font-color);
  background: var(--from-me-bg-color);
  border-radius: 25px;
  float: right;
  box-shadow: 0px 3px 5px var(--box-shadow-color);
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -0px;
  width: 26px;
  height: 20px;
  background: var(--from-me-bg-color);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: var(--from-them-bg-color);
  border-radius: 25px;
  color: var(--font-color);
  float: left;
  box-shadow: 0px -2px 2px var(--box-shadow-color);
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 0px;
  left: 0px;
  width: 26px;
  height: 20px;
  background: var(--from-them-bg-color);
}

.message-data {
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages {
  overflow-x: hidden;
}

.me-time {
  float:right;
  font-size: 13px;
  color: var(--time-color);
}

.susi-time {
  float:left;
  font-size: 13px;
  color: var(--time-color);
}

.toolbar {
  position: fixed;
  width: 100%;
  top:0px;
  display:flex;
  align-items: center;
  background-color: var(--toolbar-bg-color);
  box-shadow: 0px 1px 8px var(--box-shadow-color);
  z-index: 1;
}

.toolbar-option {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: var(--toolbar-option-color);
  transition: 0.5s all;
}

.toolbar-option:hover {
  background-color: var(--toolbar-option-color-hover);
}

.toolbar-icon {
  color: var(--toolbar-icon-color);
}

.theme-content {
  display: none;
  position: fixed;
  top: 35px;
  background-color: var(--theme-content-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.5s all;
}

.theme-content a {
  color: var(--theme-content-option-color);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  transition: 0.5s all;
}

.theme-content a:hover {
  background-color: var(--theme-content-option-color-hover);
}
