/* Setting up css root variables for light theme */

:root {
  --bg-color: #37474f;
  --from-me-bg-color: #78909c;
  --from-them-bg-color: #90a4ae;
  --font-color: #ffffff;
  --box-shadow-color: #888888;
  --time-color: #9e9e9e;
  --message-tab-bg-color: #546e7a;
  --input-bg-color: #607d8b;
  --input-text-color: #ffffff;
  --toolbar-bg-color: #455a64;
  --toolbar-option-color: #ffffff;
  --toolbar-option-color-hover: #607d8b;
  --toolbar-icon-color: #ffffff;
  --theme-content-bg-color: #455a64;
  --theme-content-option-color: #ffffff;
  --theme-content-option-color-hover: #546e7a;
}